@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-family: 'Poppins', sans-serif;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-1: 32px;
  --fs-2: 24px;
  --fs-3: 18px;
  --fs-4: 16px;
  --fs-5: 14px;
  --fs-6: 12px;

  /* spacing */
  --spacing-1: 8px;
  --spacing-1-5: 12px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  /* radius */
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;

  --radius-circle: 50%;
  /* box shadow */
  --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
    0 4px 6px -2px rgba(0, 0, 0, 0.5);
  --shadow-5: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.5);
  /* transition */
  --transition: all 0.3s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;
  --transition-slow: all 0.5s ease-in-out;

  /* Colors */
  --light: #fff;
  --dark: #000;
  --primary: #3b82f6;
  --primary-focus: #2563eb;
  --secondary: #64748b;
  --secondary-focus: #475569;
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-4);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--secondary);
  background-color: var(--secondary-focus);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--light);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-4);
  padding: var(--spacing-3) var(--spacing-4);
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: var(--transition-slow);
}

.card__title {
  font-size: var(--fs-1);
  font-weight: var(--fw-semi-bold);
  color: var(--primary);
  margin-bottom: var(--spacing-2);
}

.card__joke {
  font-size: var(--fs-4);
  font-weight: var(--fw-regular);
  color: var(--secondary);
  line-height: 1.8;
}

.card__button {
  border: none;
  margin-block-start: 1rem;
  font-size: var(--fs-5);
  color: var(--light);
  padding: var(--spacing-1-5) var(--spacing-5);
  background-color: var(--primary);
  border-radius: var(--radius-2);
  transition: var(--transition-fast);
  cursor: pointer;
}

.card__button:hover {
  background-color: var(--primary-focus);
  box-shadow: var(--shadow-4);
  transform: scale(1.05);
}
.card__button:active {
  background-color: var(--primary);
  box-shadow: inset 3px 3px 10px var(--primary-focus);
  transform: scale(0.95);
}
